<!DOCTYPE html>
<html>
<head>
    <title>Roman Numerals Converter</title>
</head>
<body>
    <img src="static/image/justin-chrn-SthdDLf9hxQ-unsplash.jpg" width="200">
    <h1>The Amazing Roman Numerals Converter</h1>
    {% if roman != "None" %}
        <p>You typed Roman numeral: {{roman}}.
            {% if arabic == -1 %}
                Uh oh, that's not a valid Roman numeral.
            {% else %}
                In normal numbers, that's: {{arabic}}. Cool!
            {% endif %}
        </p>
    {% endif %}
    <p>Enter a{% if roman != "None" %}nother{% endif %} Roman numeral, and we'll convert it to a normal number for you. Yay!</p>
    <form>
        <label for="roman">Roman numeral:</label>
        <input type="text" id="roman" name="roman"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>